<% if !@user_stock.empty? %>
 <div class="row">
    <div class= "col-9">
        <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
            <th scope="col">Ticker</th>
            <th scope="col">Name</th>
            <th scope="col">Last Price</th>
            <%# <th scope="col">Action</th> %>
            </tr>
        </thead>
        <tbody>
            <% @user_stock.each do |stocks| %>
                <tr>
                <th scope="row"><%= stocks.ticker %></th>
                <td><%= stocks.name %></td>
                <td><%= stocks.last_price %></td>
                </tr>
            <% end %>
        </tbody>
        </table>
    </div>
</div>
<% else %>
<h1><%= @user.first_name %> dont follow any stocks
<% end %>
